
.start{
    background-color: green;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}
.stop{
    background-color: red;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;


}
.reset{
    background-color: yellow;
    padding: 10px;
    cursor: pointer;


}